.button-theme {
  background-color:var(--theme-button-bg);
  border: 1px solid var(--theme-button-border);
  border-radius: 4px;
  outline: none;
  padding: 4px 4px;
  cursor: pointer;
}

.button-theme > img{
  margin: 2px;
}

.button-theme:hover {
  transform: scale(1.04);
}

.button-theme > img:active{ 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

