
header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 10vh;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: space-between;

    padding: 0px 16px;
    
}

.headers {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

.headers > h3{
    margin-left: 8px;
}

.sidebar {
    display: flex;
    flex-direction: row; 
    
}

.sidebar-content {
    position: fixed;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    margin: 16px 8px;
    border-radius: 8px;

    width: 30vh;
    height: 85vh;
    top: 10vh;

    transition: left 0.3s linear;
    left: 0px;
    z-index: 9999;
}

.close {
    position: fixed;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    margin: 16px 8px;
    border-radius: 8px;

    width: 30vh;
    height: 85vh;
    top: 10vh;

    transition: left 0.5s linear;
    left: -100%;
}