.display-carts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px;
}

.card-content {
  margin: 24px;
  padding: 16px;
  width: 180px;
  height: 180px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 4px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: var(--cart-color);
  color: var(--primary-color);

}

.card-content:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
  transform: scale(1.03);
  transition: transform 0.4s ease;
}

.car-content:active {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}


@media (max-width: 768px) {
  .display-carts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4px;
  }
  
}

