.sidebar-link {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.sidebar-link > a {
    padding: 12px;
    width: 100%;
    outline: none;
    text-decoration: none;
    color: var(--primary-color);
    border-top: solid 1px rgb(241, 235, 235); 
}

nav > a:last-child {
    border-bottom: solid 1px rgb(241, 235, 235);
}

.sidebar-link > a:hover {
    background-color: lightblue;
    transition: background-color 0.4s ease-in;
}
