.data-case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
}

.informacion {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}

progress {
    width: 50vh;
    height: 6vh;
}
